:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.zero-beers {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-items: center;
}

.zero-beers > div {
  max-width: 50%;
  flex: 1;
  margin: auto;
  text-align: center;
}
